<div class="header">
    <div class="header__left">
        <i class="header__icon-home icon">
            <svg width="24" height="24" viewBox="0 0 32 32">
                <path fill="#FFF" d="M19.741 20.734a1 1 0 00-.448 1.673l3.5 3.5a1 1 0 101.414-1.414l-3.5-3.5a1 1 0 00-.966-.259zm-.242-10.11a7.73 7.73 0 00-7.662-1.185.999.999 0 00-.344 1.639l3.057 3.057a.999.999 0 010 1.414l-.979.979a.999.999 0 01-1.414 0L9.09 13.461a1 1 0 00-1.637.339 7.73 7.73 0 008.375 10.483l4.557 4.557a4.55 4.55 0 106.435-6.435l-4.542-4.542a7.73 7.73 0 00-2.779-7.238zM21.8 27.427l-5.323-5.323-.54.125a5.73 5.73 0 01-7.001-6.092l1.807 1.807a3 3 0 004.243 0l.979-.979a3 3 0 000-4.243l-1.789-1.789a5.73 5.73 0 016.046 7.032l-.128.543 5.313 5.313a2.55 2.55 0 11-3.607 3.606zM18.171 1.879a3.003 3.003 0 00-4.243 0l-11.35 11.35a3.001 3.001 0 00.472 4.627V28c0 1.654 1.346 3 3 3h10a1 1 0 000-2h-10c-.551 0-1-.448-1-1V17.242a1 1 0 00-.675-.946 1 1 0 01-.383-1.653l11.35-11.35a1.002 1.002 0 011.415 0l11.35 11.351a.99.99 0 01.293.707.994.994 0 01-.675.945 1.001 1.001 0 00-.676.946v2.392a1 1 0 002 0v-1.777a2.983 2.983 0 001.351-2.506c0-.802-.312-1.556-.879-2.122l-11.35-11.35z"></path>
            </svg>
        </i>
        <span class="header__title">Đăng Ký Quán</span>
    </div>
    <div class="header__right">
        <a href="https://drive.google.com/file/d/1GLt1pCfGdbdFP-8tgfI9NuE5SmDSU60L/view">
            <span class="header__right--action">
                <i class="icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <circle cx="12" cy="12" r="10" stroke="#fff" stroke-width="2"></circle>
                        <path fill="#fff" d="M11 10.5h2v7h-2z"></path>
                        <rect x="10.5" y="6.5" width="3" height="3" rx="1.5" fill="#fff"></rect>
                    </svg>
                </i>
            </span>
        </a>
    </div>
</div>

@code {

}
